@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Pacifico&display=swap');
@import 'tailwindcss';

@theme static {
  --font-primary: 'Pacifico', cursive;
  --font-secondary: 'Delius', cursive;
}
@layer base {
  body {
    @apply font-secondary bg-pink-700 text-gray-200 text-xs md:text-sm lg:text-base;
  }
  h1 {
    @apply font-primary font-bold text-6xl;
  }
  h2 {
    @apply font-primary text-4xl font-semibold;
  }
  h3 {
    @apply font-primary text-3xl font-semibold;
  }
  h4 {
    @apply font-primary text-2xl font-semibold;
  }
  h5 {
    @apply font-primary text-xl font-semibold;
  }
  h6 {
    @apply font-primary text-lg font-semibold;
  }
}

@layer components {
  .btn {
    @apply font-secondary px-4 py-2 rounded transition-all cursor-pointer inline-flex items-center justify-center;
  }
  .btn-primary {
    @apply bg-red-700 text-gray-200 hover:bg-red-400 border-white border;
  }
  .btn-secondary {
    @apply bg-transparent border border-gray-200 text-gray-200 hover:bg-gray-100 hover:text-black;
  }
  .btn-disabled {
    @apply cursor-not-allowed;
  }
  .anchor {
    @apply cursor-pointer hover:opacity-75 transition-opacity duration-200;
  }
  .active-anchor {
    @apply underline underline-offset-4 font-bold;
  }
}
